# dependencies
node_modules
.pnp
.pnp.js

# builds
.expo
.next
dist
build
web-build
out

# caches
.turbo
.metro-health-check*

# generated
*.tsbuildinfo
coverage

# native
ios
android

# misc
.DS_Store
*.pem
pnpm-lock.yaml
package-lock.json
yarn.lock
